@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #f2f2f2;
    --main-color: #fff;
    --deep-blue: #2b6777;
    --light-blue: #cbd8e4;
    --green: #52ab98;
    --dark-font: #333;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

header h1 {
    font-size: 1.5rem;
    color: var(--deep-blue);
    padding-left: 2rem;
}

.icon i {
    font-size: 3rem;
}

header form {
    padding-right: 2rem;
    display: flex;
    align-items: center;
    gap: .7rem;
}

header form input {
    font-size: 1rem;
    max-width: 8rem;
    padding: .5rem;
    border-radius: 2rem;
    text-align: center
}

header form button {
    font-size: 1.7rem;
    padding-top: .3rem;
    cursor: pointer;
    color: var(--deep-blue);
}

.app {
    position: relative;
    margin: 4rem auto;
    max-width: 90rem;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 15rem) auto;
    gap: 2rem;
    opacity: 0;
    z-index: 999;
    transition: all 1s;
}

.balance {
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.balance_label {
    font-size: 2.4rem;
}

.balance_amount {
    font-weight: 700;
}

p {
    display: block;
    margin-block-start: .5em;
    margin-block-end: .5em;

}

.transaction_container {
    grid-row: 2 / span 3;
    background-color: var(--main-color);
    border-radius: 1rem;
    overflow: scroll;
}

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 4rem;
    border-bottom: 1px solid var(--bg-color);
}

.transaction_type {
    color: var(--main-color);
    border-radius: 10rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: .1rem 1rem;
    margin-right: 2rem;
}

.transaction_type_deposit {
    background-color: var(--green);
}

.transaction_type_withdrawal {
    background-color: var(--deep-blue);
}

.transaction_date {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--dark-font);
}

.transaction_amount {
    font-size: 1.3rem;
    margin-left: auto;
    font-weight: 700;
}

.summary {
    grid-row: 5 / 6;
    display: flex;
    align-items: baseline;
    padding: 0 .3rem;
    margin-top: 1rem;
}

.summary_label {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 0.8rem;
}

.summary_value {
    font-size: 1.6rem;
    margin-right: 2.5rem;
}

.summary_label_in,
.summary_label_interest {
    color: var(--green);
}

.summary_label_out {
    color: var(--deep-blue);
}

.sort {
    margin-left: auto;
    border: none;
    background: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.operation_container {
    border-radius: 1rem;
    padding: 2.5rem 3.5rem;
    color: var(--dark-font);
}

.operation_container h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-font);
}

.transfer_container {
    background: var(--green);
}

.loan_container {
    background: var(--deep-blue);
}

.close_container {
    background: var(--light-blue);
}

.operation_container form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: .4rem 1rem;
}

.operation_container form input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}

.form_btn {
    border: none;
    border-radius: 0.7rem;
    font-size: 1.4rem;
    background-color: var(--main-color);
    cursor: pointer;
    transition: all 0.3s;
}

.form_label {
    font-size: 1.3rem;
    text-align: center;
}

.form_label_loan {
    grid-row: 2;
}

.logout_timer {
    padding: 0 0.3rem;
    margin-top: 1.9rem;
    text-align: right;
    font-size: 1.25rem;
}

/* .timer {
    font-weight: 700;
} */

@media only screen and (max-width:670px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        padding: 0;
    }

    header form {
        padding-right: 0;
        padding-top: 1rem;
    }

    .app {
        display: flex;
        flex-direction: column;
    }

    .balance {
        margin: auto;
    }

    .balance_label {
        text-align: center;
    }

    .transaction {
        padding: 1.1rem 2.8rem;
    }

    .transaction_type {
        font-size: .7rem;
        padding: .1rem .8rem;
        margin-right: auto;
    }

    .transaction_date,
    .transaction_amount {
        font-size: .8rem;
    }

    .summary_label,
    .summary_value,
    .sort {
        font-size: .8rem;
        margin-right: 0.6rem;
    }

    .operation_container h3 {
        font-size: 1.3rem;
    }

    .operation_container form input {
        font-size: 1.3rem;
    }

    .form_label {
        font-size: 1rem;
    }
}